{% extends "template.html" %}
{% block body %}
<div class="row jumbotron" id="row-2">
    <div class="col-md-8" id="row-2-col-1">
        <h2>Renarration Studio</h2>
        <p style="font-size:1em">Style Sheets essentially provide alternate views to one singular content.
            In our case we wish to provide alternate narratives to one singular narrative.
            The alternative narratives may be more meaningful to end users. This
            idea of a more meaningful narrative is what we are calling semantic.
            So, a semantic style sheet is a renarrating a existing page into something
            that has more meaning to an enduser.</p>
    </div>
    <div class="col-md-4" id="row-2-col-2">
        <h2>Enjoy! :)</h2>
    <!--    <button href=# class="btn btn-default">Annotate another URL</button> -->
    </div>
</div>
{% endblock %}
